.postsPage{
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.posts{
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    /* align-items: center; */
    /* border: 3px solid #2986ff; */
    padding: 5px;

}